<footer>
    <p>© 2025 Boutique. All rights reserved.</p>
</footer>
<%- include('./modals') %>
<script src="/js/script.js"></script>
<% if (currentRoute.includes('/admin/orders')) { %>
    <script src="/js/orders.js"></script>
<% } %>
</body>
</html>