<div id="gallery-modal" class="gallery-modal">
    <div class="gallery-modal__content">
        <span class="gallery-modal__close">&times;</span>
        <div class="gallery-modal__image">
            <img id="gallery-main-image" src="" alt="">
        </div>
        <div class="gallery-modal__thumbnails" id="gallery-thumbnails">
            <!-- Thumbnails populated by JavaScript -->
        </div>
        <button class="gallery-modal__prev">❮</button>
        <button class="gallery-modal__next">❯</button>
    </div>
</div>