<div id="product-modal" class="modal">
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <div class="product-detail">
            <div class="product-detail__gallery">
                <div class="product-detail__main-image">
                    <img id="modal-main-image" src="" alt="">
                </div>
                <div class="product-detail__thumbnails" id="modal-thumbnails">
                    <!-- Thumbnails populated by JavaScript -->
                </div>
            </div>
            <div class="product-detail__info">
                <h1 class="product-detail__title" id="modal-title"></h1>
                <p class="product-detail__price" id="modal-price"></p>
                <div class="product-detail__attributes">
                    <p><span>Color:</span> <span id="modal-color"></span></p>
                    <p><span>Fabric:</span> <span id="modal-fabric"></span></p>
                </div>
                <p class="product-detail__description" id="modal-description"></p>
                <a href="#" id="modal-full-details" class="btn">View Full Details</a>
            </div>
        </div>
    </div>
</div>